@tailwind base;
@tailwind components;
@tailwind utilities;

.line-horizontal {
  @apply h-1/2 w-[1px] bg-dark-gray ml-auto self-center -mt-10 max-bp:hidden;
}

.data {
  @apply flex w-1/4 h-full font-medium max-bp:w-full max-bp:h-[8rem] max-bp:justify-center;
}
.data__name {
  @apply text-[1.5rem]  text-dark-gray uppercase mb-3 tracking-widest;
}

.data__value {
  @apply text-5xl text-black max-tl:text-[2.5rem];
}

.map-h {
  height: calc(100vh - 26rem);
}

.loader {
  width: 70px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, hsl(228, 45%, 44%)) content-box;
  mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

.error {
  max-width: 35rem;
  display: flex;
}
.error img {
  height: 3rem;
  width: 3rem;
  transform: translateY(-0.3rem);
}
.error p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}
